{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" >
        <a href="{{ path('lessonsDueDay') }}" class="btn btn-primary btn-lg btn-block" role="button" >Today's Lessons</a>
        <a href="{{ path('showStudents') }}" class="btn btn-primary btn-lg btn-block" role="button">All Student's</a>
    </div>
{% endblock %}