@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

}

*{
font-family: 'Roboto', sans-serif!important;
}

.container{
background-color: #E6E6FA;
}
td, th {
border-bottom: 3px solid #4B0082 !important;
}

