@font-face {
    font-family: myFont;
    src:url('Roboto-Regular.ttf');
}
*{
font-family: 'myFont', sans-serif!important;
    color: white;
}

/*.container-fluid{*/
/*background-color: #E6E6FA;*/
/*}*/
td, th {
border-bottom: 3px solid #4B0082 !important;
}

