<form method="post" action="{{ path('file_delete', {'id': file.id}) }}" onsubmit="return confirm('Вы впевнені?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
    <button class="btn btn-danger btn-lg edit">Видалити</button>
</form>
