{% extends 'base.html.twig' %}

{% block title %}Редагувати файл{% endblock %}

{% block body %}
    <div class="container pt-3 wrapper">
        <h1>Редагувати файл</h1>

        {{ include('file/_form_edit.html.twig', {'button_label': 'Редагувати'}) }}

        <a href="{{ path('file_index') }}" class="btn btn-primary mt-3 mb-3">Назад до списку</a>

        {{ include('file/_delete_form.html.twig') }}
    </div>
{% endblock %}
