{% extends 'base.html.twig' %}

{% block title %}Новый файл{% endblock %}

{% block body %}
    <div class="container">
    <h1>Добавить новый файл</h1>

    {{ include('file/_form.html.twig') }}

    <a href="{{ path('file_index') }}">назад к списку</a>
    </div>
{% endblock %}
