{% extends 'base.html.twig' %}

{% block title %}Новий файл{% endblock %}

{% block body %}
    <div class="container  pt-3">
    <h1>Додати новий файл</h1>

    {{ include('file/_form.html.twig') }}

    <a href="{{ path('file_index') }}" class="btn btn-primary mt-3">Назад до списку</a>
    </div>
{% endblock %}
