{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h2>
            Черкашин Александр Александрович
        </h2>
        <p>Моб.тел. +38(093) 020 70 68 (life)</p>
        <p>Моб.тел. +38(050) 105 53 79 (MTC)</p>
    </div>
{% endblock %}
