{% extends 'base.html.twig' %}
{% block title %}Головна{% endblock %}
{% block body %}
    <div class="container-fluid pl-0 pr-0" style="margin-top: 10%">
        <img src="{{ asset('images/main_picture.jpeg') }}" class="img-fluid w-100">
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
