{% extends 'base.html.twig' %}

{% block title %}Фото{% endblock %}

{% block body %}
    <div class="container pt-3">
    <h1>Фото</h1>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td><img class="ml-2 mb-2" width="200px" height="200px" src="{{photo.path}}"></td>
                <td>
                    {{ include('photo/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">немає доступних фото</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photo_new') }}" class="btn btn-warning">Додати фото</a>
    </div>
{% endblock %}
