{% extends 'base.html.twig' %}

{% block title %}Фото{% endblock %}

{% block body %}
    <div class="container pt-3">
    <h1>Додайте нове фото</h1>

    {{ include('photo/_form.html.twig') }}

    <a href="{{ path('photo_index') }}" class="btn btn-primary">Назад до списку</a>
    </div>
{% endblock %}
