div{
    width:80%;
    margin: 20px auto;
}

form{
    border: 1px solid black;
}
input{
    margin: auto;
    display: block;
}
h1{
    text-align: center;
}
.lesson{
    border: 1px solid black;
    text-align: center;

}