{% extends 'base.html.twig' %}

{% block title %}Нове відео{% endblock %}

{% block body %}
    <div class="container pt-3">
    <h1>Додати нове відео</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('video_index') }}" class="btn btn-primary mt-3">Назад до списку</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/youtubeValidation.js') }}"></script>
{% endblock %}
