{% extends 'base.html.twig' %}

{% block title %}Новий урок{% endblock %}

{% block body %}
    <div class="container pt-3">
        <h1>Створити новий урок</h1>

        {{ include('lesson/_form.html.twig') }}

        <a href="{{ path('lesson_index') }}" class="btn btn-primary">Назад до списку</a>
    </div>
{% endblock %}
