{% extends 'base.html.twig' %}
{% block title %}Results{% endblock %}
{% block body %}
    <table>
        <tr>
            <th>Date:</th>
            <th>Homework</th>
            <th>Mark</th>
            <th>Comments</th>
        </tr>
{%for lesson in student.lessonsArchive %}
    <tr>
        <td>{{ lesson.date|date("m/d/Y") }}</td>
        <td>{{ lesson.homework }}</td>
        <td>{{ lesson.mark }}</td>
        <td>{{ lesson.markComment}}</td>
        <td>
    </tr>
{% endfor %}
    </table>
{% endblock %}
